@font-face {
  font-family: "garamond";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/EBGaramond12-Regular.otf");
}
@font-face {
  font-family: "garamond";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/EBGaramond08-Regular.otf");
}
@font-face {
  font-family: "garamond";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/EBGaramond12-Italic.otf");
}
@font-face {
  font-family: "garamond";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/EBGaramond08-Italic.otf");
}
@font-face {
  font-family: "garamond";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/EBGaramondSC08-Regular.otf");
}