@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/Metropolis-Regular.otf");
}
@font-face {
  font-family: "metropolis";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/Metropolis-Bold.otf");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/Metropolis-RegularItalic.otf");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/Metropolis-BoldItalic.otf");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Metropolis-Thin.otf");
}
@font-face {
  font-family: "metropolis";
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Metropolis-ThinItalic.otf");
}
@font-face {
  font-family: "metropolis";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Metropolis-ExtraBold.otf");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Metropolis-Medium.otf");
}
@font-face {
  font-family: "metropolis";
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Metropolis-MediumItalic.otf");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Metropolis-ExtraBoldItalic.otf");
}
@font-face {
  font-family: "metropolis";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Metropolis-BlackItalic.otf");
}
@font-face {
  font-family: "metropolis";
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Metropolis-Black.otf");
}