@font-face {
  font-family: "playfair";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("[SCRIPT_PATH]/fonts/playfair/PlayfairDisplay-Regular.otf");
}
@font-face {
  font-family: "playfair";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("[SCRIPT_PATH]/fonts/playfair/PlayfairDisplay-Bold.otf");
}
@font-face {
  font-family: "playfair";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("[SCRIPT_PATH]/fonts/playfair/PlayfairDisplay-Italic.otf");
}
@font-face {
  font-family: "playfair";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("[SCRIPT_PATH]/fonts/playfair/PlayfairDisplay-BoldItalic.otf");
}
@font-face {
  font-family: "playfair";
  font-weight: 600;
  font-display: swap;
  src: url("[SCRIPT_PATH]/fonts/playfair/PlayfairDisplay-Black.otf");
}
@font-face {
  font-family: "playfair";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("[SCRIPT_PATH]/fonts/playfair/PlayfairDisplay-BlackItalic.otf");
}